html,
header,
body,
div,
span,
label,
input,
textarea,
button,
img,
p,
small,
h3,
svg {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  border-top: 5px solid #42b6f3;
  padding: 50px 0;
  font: 300 18px/1.5 Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #818181;
}

main {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  max-width: 640px;
  margin: 0 auto;
}

header h2 {
  text-align: left;
  margin-bottom: 0;
  display: inline;
}
header p {
  text-align: right;
  display: inline;
  margin-left: 55%;
}

header span {
  color: #42b6f3;
}

blockquote {
  margin: 50px 0 50px -24px;
  padding: 0 0 0 24px;
  font-size: 34px;
  font-weight: 300;
  line-height: 1.3em;
  color: #42b6f3;
  border-left: 3px solid #42b6f3;
}

.header-title {
  text-align: center;
}

.post-form {
  width: 50%;
  margin: 0 auto;
}

form > input,
textarea {
  border: 1px solid #e2e2e2;
}

form > label {
  font-weight: 500;
}

.giphy-div:empty:not(:focus):before {
  content: attr(data-placeholder);
}

.giphy-div {
  border: 1px solid #42b6f3;
  margin-top: 10px;
  margin-bottom: 50px;
}

.submit-button {
  /* display: block; */
  /* margin: 0 auto; */
  position: relative;
  left: 60%;
  padding: 10px;
  font: 13px;
}

.gif-button {
  position: absolute;
  top: 67.5%;
  left: 30%;
}
.spinner {
  text-align: center;
}

.apple {
  display: block;
  position: absolute;
  top: 225px;
  right: 350;
}

.posts {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  margin: 20px auto;
  width: 100%;
}

.allposts {
  background: #f2f2f2;
  padding: 10px;
  margin: 10px;
  width: 100%;
  word-wrap: break-word;
  position: relative;
}

.icons {
  display: flex;
  width: 65%;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 20px;
}

#comment {
  position: absolute;
  left: 20%;
  top: 360px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}
